@model GymAdmin.Data.Entities.ServiceAccess

@{
    ViewData["Title"] = "Details";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Register.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/EditUser.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/ViewUser.css" />
<link rel="stylesheet" type="text/css" href="~/css/tables.css" />
<link rel="stylesheet" type="text/css" href="~/css/User/Users.css" />

<style>
    .fa-ban,
    .fa-circle-check {
        padding-right: 5px;
    }

    .GymAdminEditButton {
        border-color: #FFC107;
    }

        .GymAdminEditButton:hover {
            color: black;
        }

        .GymAdminEditButton a {
            color: #FFC107;
        }

            .GymAdminEditButton a:hover {
                color: black;
            }

    .GymAdminDeleteButton {
        border-color: #DC3545;
        color: #DC3545;
    }

        .GymAdminDeleteButton:hover {
            background-color: #DC3545;
            color: black;
        }

        .GymAdminDeleteButton a {
            color: #DC3545;
        }

            .GymAdminDeleteButton a:hover {
                color: black;
            }

    #MyTable th, .td_option {
        text-align: center;
    }

    td {
        color: white;
    }
</style>

<!-- View contract page -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="" id="GymAdminForm">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <h2 style="text-align:center;">Servicio de @Model.Service.Name</h2>
                        </div>
                    </div>
                </div>
                @{
                    //Format for prices and discount
                    string p = $"{Model.Service.Price:C2}";

                    string d = $"{Model.Discount:P2}";

                    decimal totalPrice = (decimal)(Decimal.ToDouble(Model.Service.Price) - (Decimal.ToDouble(Model.Service.Price) * Model.Discount));
                    string tp = $"{totalPrice:C2}";
                }
                <div class="row">
                    <!-- Left column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        @{
                            var Status = "";
                            if (Model.ServiceStatus == GymAdmin.Enums.ServiceStatus.Pending)
                            {
                                Status = "Contratado por";
                            }
                            if (Model.ServiceStatus == GymAdmin.Enums.ServiceStatus.Taken)
                            {
                                Status = "Tomado por";
                            }
                            if (Model.ServiceStatus == GymAdmin.Enums.ServiceStatus.Cancelled)
                            {
                                Status = "Cancelado por";
                            }
                        }
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">@Status</label>
                            <input value="@Model.User.FullName" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Precio base del servicio</label>
                            <input value="@p" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Precio final</label>
                            <input value="@tp" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        @{
                            var day = "";
                            if (Model.AccessDate.ToString() == "Monday")
                            {
                                day = "Lunes";
                            }
                            if (Model.AccessDate.ToString() == "Tuesday")
                            {
                                day = "Martes";
                            }
                            if (Model.AccessDate.ToString() == "Wednesday")
                            {
                                day = "Miércoles";
                            }
                            if (Model.AccessDate.ToString() == "Thursday")
                            {
                                day = "Jueves";
                            }
                            if (Model.AccessDate.ToString() == "Friday")
                            {
                                day = "Viernes";
                            }
                            if (Model.AccessDate.ToString() == "Saturday")
                            {
                                day = "Sábado";
                            }
                            if (Model.AccessDate.ToString() == "Sunday")
                            {
                                day = "Domingo";
                            }
                        }
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Fecha del contrato</label>
                            <input value="@day" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Email del usuario</label>
                            <input value="@Model.User.Email" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Documento del usuario</label>
                            <input value="@Model.User.Document" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Descuento</label>
                            <input value="@d" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Hora del contrato</label>
                            <input value="@Model.AccessHour" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                    </div>
                </div>
                <!-- Buttons and links -->
                <div class="GymAdminRegisterFormButtons form-group mt-2">
                    <button disabled class="GymAdminFormButton GymAdminEditButton">
                        <a asp-action="SetServiceAsTaken" asp-route-id="@Model.Id" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton"><i class="fa-solid fa-circle-check"></i>Marcar como tomado</a>
                    </button>
                    <button disabled class="GymAdminFormButton GymAdminDeleteButton">
                        <a asp-action="CancelService" asp-route-id="@Model.Id" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton"><i class="fa-solid fa-ban"></i>Marcar como cancelado</a>
                    </button>
                    <button disabled class="GymAdminFormButton">
                        <a asp-action="Index" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton">Regresar</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
