@model GymAdmin.Data.Entities.Schedule

@{
    ViewData["Title"] = "Details";
}

<!-- Libraries -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Register.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/EditUser.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/ViewUser.css" />
<link rel="stylesheet" type="text/css" href="~/css/tables.css" />
<link rel="stylesheet" type="text/css" href="~/css/User/Users.css" />

<style>
    h3 {
        color: white !important;
    }

    .fa-pen-to-square,
    .fa-lock {
        padding-right: 5px;
    }

    .GymAdminEditButton {
        border-color: #FFC107;
    }

        .GymAdminEditButton:hover {
            color: black;
        }

        .GymAdminEditButton a {
            color: #FFC107;
        }

            .GymAdminEditButton a:hover {
                color: black;
            }

    .GymAdminDeleteButton {
        border-color: #DC3545;
        color: #DC3545;
    }

        .GymAdminDeleteButton:hover {
            background-color: #DC3545;
            color: black;
        }

        .GymAdminDeleteButton a {
            color: #DC3545;
        }

            .GymAdminDeleteButton a:hover {
                color: black;
            }

    a .fa-bell-concierge, a .fa-user-tie, a .fa-calendar {
        padding-right: 5px;
    }

    #MyTable th, .td_option {
        text-align: center;
    }
</style>

<!-- View schedule page -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="" id="GymAdminForm">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <h2 style="text-align:center;">Detalles del horario</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Hora inicial</label>
                            <input value="@Model.StartHour" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        @{
                            var day = "";
                            if (Model.Day.ToString() == "Monday")
                            {
                                day = "Lunes";
                            }
                            if (Model.Day.ToString() == "Tuesday")
                            {
                                day = "Martes";
                            }
                            if (Model.Day.ToString() == "Wednesday")
                            {
                                day = "Miércoles";
                            }
                            if (Model.Day.ToString() == "Thursday")
                            {
                                day = "Jueves";
                            }
                            if (Model.Day.ToString() == "Friday")
                            {
                                day = "Viernes";
                            }
                            if (Model.Day.ToString() == "Saturday")
                            {
                                day = "Sábado";
                            }
                            if (Model.Day.ToString() == "Sunday")
                            {
                                day = "Domingo";
                            }
                        }
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Día</label>
                            <input value="@day" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Hora final</label>
                            <input value="@Model.FinishHour" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Buttons and links -->
                        <div class="GymAdminRegisterFormButtons form-group mt-2">
                            <button disabled class="GymAdminFormButton">
                                <a asp-action="ShowSchedules" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton"><i class="fa-solid fa-lock"></i>Regresar</a>
                            </button>
                            <button disabled class="GymAdminFormButton GymAdminEditButton">
                                <a asp-action="EditSchedule" asp-route-id="@Model.Id" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton"><i class="fa-solid fa-pen-to-square"></i>Editar</a>
                            </button>
                            <button disabled class="GymAdminFormButton GymAdminDeleteButton">
                                <a asp-action="DeleteSchedule" asp-route-id="@Model.Id" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton"><i class="fa-solid fa-lock"></i>Eliminar</a>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr />
        <!-- Services -->
        <div class="row" style="padding:0;margin:0 auto;">
            <div class="col-md-12 GymAdminTableContainer">
                <div class="panel panel-default">
                    <div class="panel-heading GymAdminTableHeading" style="justify-content:center;">
                        <h3 class="panel-title GymAdminTableTitle">Profesionales que trabajan en este horario</h3>
                    </div>
                    <div class="panel-body GymAdminTable">
                        <table class="table table-hover table-responsive table-striped" id="MyTable">
                            <!-- Text -->
                            <thead>
                                <tr>
                                    <th>
                                        Nombre completo
                                    </th>
                                    <th>
                                        Correo electrónico
                                    </th>
                                    <th>
                                        Profesión
                                    </th>
                                </tr>
                            </thead>
                            <!-- Values -->
                            <tbody>
                                @foreach (var item in Model.Professionals)
                                {
                                    <tr class="GymAdminTableTr">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.FullName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.User.Email)
                                        </td>
                                        <td>
                                            @{
                                                if (item.ProfessionalType.ToString() == "Physiotherapist")
                                                {
                                                    <p>Fisioterapeuta</p>
                                                }
                                                else if (item.ProfessionalType.ToString() == "Nutritionist")
                                                {
                                                    <p>Nutricionista</p>
                                                }
                                                else if (item.ProfessionalType.ToString() == "Instructor")
                                                {
                                                    <p>Instructor</p>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#MyTable').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            },
            "aLengthMenu": [
                [25, 50, 100, 200, -1],
                [25, 50, 100, 200, "Todos"]
            ]
        });
    });
</script>
}
