@model GymAdmin.Models.EditUserViewModel

@{
    ViewData["title"] = "ViewUser";
}

<!-- GymAdmin style -->
<link rel="stylesheet" type="text/css" href="~/css/forms.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/Register.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/EditUser.css" />
<link rel="stylesheet" type="text/css" href="~/css/Account/ViewUser.css" />

<!-- View user page -->
<div id="GymAdminPrincipalContainer">
    <div class="row" id="GymAdminRegisterFormElementsContainer">
        <div class="col-md-12" id="GymAdminFieldsContainer">
            <form asp-action="" id="GymAdminForm">
                <!-- Image -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement GymAdminViewUserImageContainer">
                            <img class="GymAdminUserImage" src="@Model.ImageFullPath" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Left column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="FirstName" class="control-label GymAdminFormLabel"></label>
                            <input value="@Model.FirstName" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label class="control-label GymAdminFormLabel">Correo electrónico</label>
                            <input value="@User.Identity.Name" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="Document" class="control-label GymAdminFormLabel"></label>
                            <input value="@Model.Document" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                    </div>
                    <!-- Right column -->
                    <div class="col-md-6 GymAdminFormColumn">
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="LastName" class="control-label GymAdminFormLabel"></label>
                            <input value="@Model.LastName" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="PhoneNumber" class="control-label GymAdminFormLabel"></label>
                            <input value="@Model.PhoneNumber" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                        <!-- Field -->
                        @{
                            var documentType = "";
                            if (Model.DocumentType.ToString() == "TI")
                            {
                                documentType = "Tarjeta de Identidad";
                            }
                            else if (Model.DocumentType.ToString() == "CC")
                            {
                                documentType = "Cédula de Ciudadanía";
                            }
                            else if (Model.DocumentType.ToString() == "CE")
                            {
                                documentType = "Cédula de Extranjería";
                            }
                            else if (Model.DocumentType.ToString() == "PAP")
                            {
                                documentType = "Pasaporte";
                            }
                        }
                        <div class="form-group GymAdminFormElement">
                            <label asp-for="DocumentType" class="control-label GymAdminFormLabel"></label>
                            <input value="@documentType" class="GymAdminFormInput" autocomplete="off" readonly />
                        </div>
                    </div>
                </div>
                <!-- Buttons and links -->
                <div class="GymAdminRegisterFormButtons form-group mt-2">
                    <button disabled class="GymAdminFormButton">
                        <a asp-action="EditUser" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton">Editar</a>
                    </button>
                    <button disabled class="GymAdminFormButton">
                        <a asp-action="ChangePassword" class="GymAdminFormElement GymAdminFormLabel GymAdminRegisterFormButton">Cambiar contraseña</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
